<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Google Drive Client</h1>
  </div>
</header>

<div class="container">
  <div class="row" style="margin-top: 1%">
    <div class="col-md-12">
      <div class="col-md-4"><input class="btn btn-default" id="uploadedFile" type="file" fileread="file.content"
                                   ng-model="file"
                                   onchange="angular.element(this).scope().upload()">

      </div>
      <div class="col-md-2">
          <button ng-if = "latenta" class="btn btn-info" disabled> Latenta: {{latenta}} ms </button>
      </div>
    </div>
      <div class="col-md-12"  style="margin-top: 1%; margin-left: 15px">
        <button class="btn btn-primary" ng-click="list()">Display last file upload</button>
        <button ng-if = "files" class="btn btn-info" disabled> File name: {{files}}; File size: {{size}} bytes  </button>

      </div>
    <div class="col-md-12"  style="margin-top: 1%; margin-left: 15px">
      <button class="btn btn-primary" ng-click="listTen()">Display last 10 files </button>
      <button ng-if = "files" ng-repeat="n in names" disabled> {{names}}{{n}};   </button>

    </div>
    </div>

    </div>

  </div>
  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>by Madalina Lacatus
      </p>
  </div>
</footer>
